.container{
  display:grid;
  grid:200px 100px / 100px auto 100px 100px;
  // grid-template-rows: 100px 100px;
  // grid-template-columns:100px auto 100px 100px;
  grid-gap:10px 10px; 
  // grid-auto-flow:dense;
  // grid-column-gap:10px;
  // grid-row-gap:10px;
  
  >div{
    background:#999;
    color:#FFF;
    text-align:center;
    line-height:100px;   
    }
  }